html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
*/
@font-face {
  font-family: "Maza";
  font-style: normal;
  font-weight: normal;
  src: local("Maza"), url("../fonts/MazaRegular.otf") format("opentype");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #343A3F;
}

body {
  font-family: "Maza", sans-serif;
  color: #343A3F;
}

button {
  font-family: "Maza", sans-serif;
  color: #343A3F;
}

.container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container--custom {
  min-height: calc(100vh - 183px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.header {
  min-height: 100vh;
}
.header__info {
  display: block;
  background-color: #F4F4F4;
  padding: 9px 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__info.hidden {
  opacity: 0;
}
.header__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.header__contacts-item p {
  margin-left: 8px;
}
.header__contacts-item svg path {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__contacts-item:hover svg {
  height: 16px;
  width: 16px;
}
.header__contacts-item:hover svg path {
  fill: #4888FF;
}
.header__contacts-item + .header__contacts-item {
  margin-left: 12px;
}
.header__contacts-phone {
  margin-left: 12px;
}
.header__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__work p {
  font-size: 14px;
}
.header__work p + p {
  margin-left: 12px;
}
.header__links {
  font-size: 14px;
}
.header__links a:hover {
  color: #4888FF;
}
.header__links a + a {
  margin-left: 15px;
}
.header__top {
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__features {
  padding: 16px 0 24px;
  background-color: white;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  height: 152px;
}
.header__features-btn {
  border: none;
  min-width: 80px;
  height: 80px;
  background-color: #4888FF;
  border-radius: 50%;
  cursor: pointer;
}
.header__features-main {
  margin-left: 35px;
  width: 100%;
}
.header__features-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  margin-bottom: 16px;
}
.header__features-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.header__features-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__features-bottom.hidden {
  opacity: 0;
}
.header__features.hidden {
  height: 120px;
}
.header__menu {
  background-color: #4888FF;
  border-radius: 8px;
  padding: 16px 30px;
  cursor: pointer;
  border: none;
  margin-right: 16px;
}
.header__menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.header__search {
  position: relative;
  width: 100%;
  margin-right: 24px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
.header__search-field {
  padding: 15px 24px;
  padding-right: 102px;
  border-radius: 8px;
  border: 3px solid rgba(72, 136, 255, 0.2);
  width: 100%;
}
.header__search-field::-webkit-input-placeholder {
  color: #343A3F;
  font-family: "Maza", sans-serif;
  opacity: 0.5;
  font-size: 16px;
}
.header__search-field::-moz-placeholder {
  color: #343A3F;
  font-family: "Maza", sans-serif;
  opacity: 0.5;
  font-size: 16px;
}
.header__search-field:-ms-input-placeholder {
  color: #343A3F;
  font-family: "Maza", sans-serif;
  opacity: 0.5;
  font-size: 16px;
}
.header__search-field::-ms-input-placeholder {
  color: #343A3F;
  font-family: "Maza", sans-serif;
  opacity: 0.5;
  font-size: 16px;
}
.header__search-field::placeholder {
  color: #343A3F;
  font-family: "Maza", sans-serif;
  opacity: 0.5;
  font-size: 16px;
}
.header__search-btn {
  background-color: #4888FF;
  border-radius: 4px;
  color: white;
  padding: 11px 20px;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 4px;
  top: 4px;
  height: 43px;
}
.header__search.hidden {
  opacity: 0;
}
.header__link {
  background-color: #F4F4F4;
  border-radius: 8px;
  min-width: 51px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__link + .header__link {
  margin-left: 10px;
}
.header__link svg path {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__link:hover {
  background-color: #D4D9DD;
}
.header__link:hover svg path {
  fill: #4888FF;
}
.header__international {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  margin-left: 37px;
  position: relative;
}
.header__international::before {
  content: "";
  position: absolute;
  background-image: url("../images/planet.png");
  width: 22px;
  height: 22px;
  left: 0;
  top: -1px;
}
.header__international-language {
  opacity: 0.4;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.header__international-language.header__international-language--active {
  opacity: 1;
}
.header__international-language p {
  font-size: 16px;
}
.header__buttons {
  margin-left: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header__buttons-item {
  min-width: 51px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid #D3D3D3;
  background-color: transparent;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__buttons-item svg path {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__buttons-item:hover {
  border: 1px solid #4888FF;
}
.header__buttons-item:hover svg path {
  fill: #4888FF;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18.5px;
}
.header__drop {
  padding: 24px 71px 24px 24px;
  border-radius: 8px;
  background-color: #FFFFFF;
}
.header__drop-item + .header__drop-item {
  margin-top: 16px;
}
.header__drop-link {
  font-size: 16px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__drop-link:hover {
  color: #4888FF;
}
.header__drop-inner {
  position: absolute;
  padding-top: 32px;
  z-index: 2;
  margin-top: -6px;
  display: none;
}
.header__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: none;
  background-color: #F4F4F4;
  cursor: pointer;
  border-radius: 8px;
  padding: 11px 14px 11px 13px;
}
.header__item-btn svg path {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__item-text {
  font-size: 16px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__item:hover p {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #4888FF;
}
.header__item:hover:nth-child(4) .header__drop-inner {
  display: block;
}
.header__item:hover:nth-child(4) svg path {
  fill-opacity: 1;
}
.header__create {
  color: #4888FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 8px;
  background-color: #F4F4F4;
  cursor: pointer;
  padding: 12px 6px;
  width: 185px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__create-text {
  margin-left: 7px;
  font-size: 16px;
}
.header__create:hover {
  background-color: #4888FF;
}
.header__create:hover p {
  color: #FFFFFF;
}
.header__main {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgb(103, 40, 112)), to(rgb(79, 224, 255)));
  background: -o-linear-gradient(left, rgb(103, 40, 112) 20%, rgb(79, 224, 255) 100%);
  background: linear-gradient(90deg, rgb(103, 40, 112) 20%, rgb(79, 224, 255) 100%);
  margin-top: 183px;
  min-height: calc(100vh - 183px);
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.header__main-info {
  margin-left: 65px;
}
.header__main-inner {
  background-image: url("../images/gamepad.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}
.header__title {
  font-size: clamp(1.5rem,
    2.548vw + -0.127rem,
    2rem);
  margin-bottom: 26px;
  max-width: 639px;
  line-height: 30px;
}
.header__subtitle {
  font-size: 18px;
  margin-bottom: 26px;
  line-height: 24px;
  max-width: 639px;
}
.header__button {
  color: #672870;
  border: none;
  border-radius: 8px;
  background-color: white;
  padding: 16px 40px;
  font-family: "Maza", sans-serif;
  cursor: pointer;
}
.header__categoryes--width47 {
  width: 47%;
}
.header__categoryes-phoneIcon {
  margin-left: 4px;
  margin-right: 4px;
}
.header__categoryes-item + .header__categoryes-item {
  border-top: 1px solid #F3F3F3;
}
.header__categoryes-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 13px 19px 13px 30px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
.header__categoryes-btn svg path {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__categoryes-btn:hover svg path {
  fill-opacity: 1;
}
.header__categoryes-btn:hover .header__categoryes-arrow path {
  stroke: #4888FF;
}
.header__categoryes-btn--active {
  background-color: #F3F3F3;
}
.header__categoryes-text {
  margin-left: 16px;
  margin-right: 38px;
  font-size: clamp(0.875rem,
    0.637vw + 0.468rem,
    1rem);
}
.header__categoryes-arrow {
  position: absolute;
  right: 19px;
}
.header__catalog {
  display: none;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding-top: 30px;
  padding-bottom: 23px;
  position: absolute;
  width: 62.5%;
  top: 137px;
  left: 115px;
  z-index: 3;
}
.header__catalog.header__catalog--visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__catalog.hidden {
  top: 105px;
}
.header__inner {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Maza", sans-serif;
  width: 56%;
}
.header__inner.header__inner--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menuList {
  margin-left: 41px;
  width: 100%;
}
.header__menuList-title {
  font-size: clamp(1.5rem,
    1.911vw + 0.279rem,
    1.875rem);
  color: #343A3F;
  margin-bottom: clamp(0.313rem,
    5.732vw + -3.349rem,
    1.438rem);
}
.header__menuList-link {
  padding: 8px 0;
  font-size: clamp(0.875rem,
    0.637vw + 0.468rem,
    1rem);
  width: 100%;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__menuList-link span {
  font-size: 14px;
  color: rgba(52, 58, 63, 0.5);
  margin-left: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__menuList-link svg path {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.header__menuList-link:hover {
  color: #4888FF;
}
.header__menuList-link:hover span {
  color: #4888FF;
}
.header__menuList-link:hover svg path {
  stroke: #4888FF;
}
.header__menuList-arrow {
  position: absolute;
  right: 0;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__people {
  background-color: #FFFFFF;
  border-radius: 8px;
  display: none;
  padding: 30px 0 48px;
  position: absolute;
  top: 137px;
  left: 215px;
  width: 52%;
  z-index: 3;
}
.header__people.header__people--visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__people.hidden {
  top: 105px;
}

@media (max-width: 1220px) {
  .header__menu {
    margin-right: 0;
  }
  .header__features-top {
    gap: 10px;
  }
  .header__search {
    margin-right: 0;
  }
  .header__international {
    margin-left: 0;
  }
  .header__buttons {
    margin-left: 0;
  }
  .header__link + .header__link {
    margin-left: 5px;
  }
  .header__list {
    gap: 10px;
  }
  .header__features-bottom {
    gap: 10px;
  }
  .header__item-text {
    font-size: 14px;
  }
  .header__categoryes-btn {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__menuList {
    margin-left: 10px;
    width: auto;
  }
  .header__inner {
    width: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .header__menuList-item {
    width: 100%;
  }
  .header__categoryes {
    width: 100%;
  }
  .header__create p {
    font-size: 14px;
  }
}
@media (max-width: 1115px) {
  .header__features-main {
    margin-left: 0;
  }
  .header__features-inner {
    gap: 10px;
  }
  .header__item-btn {
    gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 987px) {
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  .header__links a {
    padding: 16px 0 10px;
    border-bottom: 1px solid #E8E8E8;
  }
  .header__links a + a {
    margin-left: 0;
  }
  .header__contacts-city {
    margin-bottom: 8px;
  }
  .header__contacts-city svg path {
    fill-opacity: 0.3;
  }
  .header__work {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 25px;
    position: relative;
  }
  .header__work::before {
    content: "";
    background-image: url("../images/work.png");
    width: 11px;
    height: 11px;
    position: absolute;
    left: 3px;
    opacity: 0.3;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 24px;
  }
  .header__list button {
    width: 100%;
    padding: 12px;
    position: relative;
    gap: 17px;
  }
  .header__list button::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__social a {
    width: 40px;
    height: 40px;
    min-width: auto;
  }
  .header__social a svg {
    width: 20px;
    height: 20px;
  }
  .menu__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__create {
    margin-top: 14px;
  }
  .header__create::after {
    display: none;
  }
  .header__features-btn--width {
    width: 31%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__search-field {
    padding: 14px 16px;
    padding-right: 102px;
  }
  .header__menu {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  .header__menu svg {
    width: 27px;
    height: 29px;
  }
  .header__buttons-item {
    min-width: auto;
    width: 40px;
    height: 40px;
  }
  .header__buttons-item svg {
    width: 20px;
    height: 20px;
  }
  .header__features.hidden {
    height: auto;
    padding-bottom: 0;
  }
  .header__buttons {
    gap: 6px;
  }
  .header__features-btn {
    min-width: auto;
    width: 56px;
    height: 56px;
  }
  .header__features-btn svg {
    width: 28px;
    height: 28px;
  }
  .header__features {
    padding-top: 10px;
    padding-bottom: 24px;
  }
  .header__menu-inner {
    width: 31%;
  }
  .header__buttons {
    width: 31%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__features-top {
    margin-bottom: 10px;
  }
  .header__features-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__features {
    height: auto;
  }
  .header__main {
    margin-top: 188.8px;
    min-height: calc(100vh - 188.8px);
    padding-top: 32px;
    position: relative;
  }
  .header__main-inner {
    min-height: inherit;
  }
  .header__main-inner {
    background-position: 150% 100%;
    background-size: 50%;
  }
  .header__title {
    max-width: 330px;
    line-height: 26px;
  }
  .header__main-info {
    margin-left: 0px;
  }
  .container--custom {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__menu {
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .header__menu.active {
    background-image: url("../images/x.png");
    background-color: #E8E8E8;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 75%;
    background-position: center center;
  }
  .header__menu.active svg {
    display: none;
  }
  .menu__wrapper {
    display: block;
    position: absolute;
    -webkit-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    top: 0px;
    left: 0;
    right: 0;
    background-color: white;
    padding-bottom: 36px;
    z-index: 5;
    color: #343A3F;
    font-family: "Maza", sans-serif;
  }
  
  .menu__wrapper.marginTop {
    top: 0px;
  }
  .menu__inner.hidden {
    transform: translateX(-100%);
  }
  .header__top {
    z-index: 7;
  }
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__people {
    display: none;
  }
  .header__people.header__people--visible {
    display: none;
  }
  .header__catalog.header__catalog--visible{
    transform: translateX(0%)
  }
  .header__catalog {
    left: 0px;
    right: 0px;
    width: 100%;
    border-radius: 0;
    font-family: "Maza", sans-serif;
    padding-top: 0px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    top: 0px;
    transform: translateX(-100%)
  }
  
  .header__catalog.hidden {
    top: 0px;
  }
  .header__catalog .menuTitle {
    font-size: 20px;
    cursor: pointer;
    color: #343A3F;
    margin-bottom: 24px;
    padding-left: 43px;
    position: relative;
  }
  .header__catalog .menuTitle::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 2px;
    width: 7px;
    height: 14px;
    background-image: url("../images/left.png");
  }
  .header__catalog.header__catalog--visible {
    display: block;
  }
  .header__categoryes-btn {
    border-radius: 6px;
    background-color: #F3F3F3;
  }
  .header__search-btn {
    height: 41px;
  }
  .header__categoryes-item + .header__categoryes-item {
    margin-top: 10px;
  }
  button.header__item-btn--before {
    position: relative;
    padding-left: 46px;
  }
  button.header__item-btn--before::before {
    content: "";
    position: absolute;
    left: 12px;
    background-image: url("../images/catalog.png");
    width: 20px;
    height: 13px;
  }
  .header__menuList {
    margin-left: 0;
  }
  .header__menuList + .header__menuList {
    margin-top: 23px;
  }
  .header__menuList-link {
    border-radius: 6px;
    background-color: #F3F3F3;
    padding: 13px 10px;
    font-size: 16px;
  }
  .header__menuList-link .header__menuList-arrow {
    margin-right: 10px;
  }
  .header__menuList-item + .header__menuList-item {
    margin-top: 10px;
  }
  .header__menuList-title {
    font-size: 20px;
    padding-left: 43px;
    position: relative;
    margin-bottom: 23px;
  }
  .header__menuList-title::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 2px;
    width: 7px;
    height: 14px;
    background-image: url("../images/left.png");
  }
  .header__catalog{
    z-index: 1;
  }
  .menu__inner.hidden .menu__wrapper{
    
    transform: translateX(-100%);
  }
  .menu__wrapper{
    
    transform: translateX(0%);
    opacity: 1;
  }
  .menu__wrapper.hidden{
    transform: translateX(-100%);
    opacity: 0;
  }
  .header__catalog.header__catalog--visible{
    z-index: 5;
  }
  
}
@media (max-width: 460px) {
  .header__main-inner {
    background-position: 536% 100%;
    background-size: 90%;
  }
  .header__search-btn::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 7px;
    width: 24px;
    height: 24px;
    background-image: url("../images/search.png");
  }
}